
body {
	background: #f5f5f5;
}
h2 {
	color:darkblue
}
button {
	border-radius: 2px;
	margin: 10px;
}
img {
	border-radius: 10px;
}
p {
	background-color: dimgrey;
	border-radius: 10px;
	padding: 10px;
	color: darkblue;
	font-size: 2rem;
	width: 75%;
	margin: auto;
	margin-top: 10px;
}